@import "variables.scss";
@import "togglebutton.scss";
@import "info.scss";

$backgroundImagePath: "../images/main_space_background.jpg";

* {
  margin: 0;
  color: $primaryTextColor;
  font-family: Roboto;
}

body {
  background: $backgroundColor;
}

.container-template {
  display: grid;
  height: 100vh;
}
.home-container {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 0.1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "navbar"
    "."
    "clocktime";

  // background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
  //   url($backgroundImagePath);
  // background-size: cover;
  // background-position: center;
  border-bottom: 2px solid red;
}

.navbar {
  grid-area: navbar;
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    font-size: min(5vw, 24px);
    a {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
@media screen and (max-width: 960px) {
  .navbar {
    flex-direction: column;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      padding: 20px 0 20px 0;
      border-top: 2px solid $secondaryColor;
      border-bottom: 2px solid $secondaryColor;
      row-gap: 20px;
    }
  }
}

.logo {
  width: clamp(120px, 10vw, 160px);
  cursor: pointer;
}

.content {
  grid-area: clocktime;
  align-self: start;
  justify-self: center;
  text-align: center;

  h1 {
    font-size: min(7vw, 50px);
    font-weight: 100;
  }
  p {
    font-size: min(10vw, 100px);
    margin: 20px auto;
    padding: 0 20px 0 20px;
    font-weight: 400;
  }
}
