@import "variables.scss";
@import "home.scss";
@import "navbar.scss";
@import "info.scss";
@import "footer.scss";

* {
  margin: 0;
  color: $primaryTextColor;
  font-family: Inconsolata;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $backgroundColor;
}

.container-template {
  display: grid;
}
